/* desktop */

@media screen and (min-width: 768px) {

     /*Notre entreprise - titre*/

    .titre{
        display: block;
        margin-left: 17%;
    }
    /*Notre entreprise - h2 */
   h2{
    font-family: 'Josefin Sans', sans-serif;
    width: 862px;
    text-align: center;
    font-size: 66px;
    margin-left: 90px;
    font-size: 66px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase; 
   }
   /*Notre entreprise - img */
   .imagetitre{
    width: 1051px;
   }

   body{
    margin: auto;
}
  /* class histoire - bloc histoire du velomobile */
  .histoire{
    display: flex;
    align-items: center;
    margin-top: 5%;
    flex-direction: row;
    margin-left: 17%; 
}

/* class histoire - bloc présentation des équipes */
.QuiC{
  display: flex;
  align-items: center;
  margin-top: 5%;
  flex-direction: row;
  margin-left: 8%; 
}

/* class histoire - pourquoi LVF ? */
.why{
  display: flex;
  align-items: center;
  margin-top: 5%;
  flex-direction: row;
  margin-left: 8%; 
}

  .text-histoire {
    display: flex;
    flex-direction: column; 
    color: black;
    margin-left: 10%;  
}

.Hist{
  border-bottom: 1px solid black;
  width: 10.5625rem;
  height: 2.375rem;
    font-family: Josefin Sans;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    width: 602px;
    color: #D3423F;
}

.Qui{
  border-bottom: 1px solid black;
  width: 10.5625rem;
  height: 2.375rem;
    font-family: Josefin Sans;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    width: 602px;
    color: rgb(82, 134, 182);
    
}

.pourquoi{
  border-bottom: 1px solid black;
  width: 10.5625rem;
  height: 2.375rem;
    font-family: Josefin Sans;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    width: 602px;
    color: #D3423F;
}

/* blocs <p> textes différenciés */
/* deux premiers paragraphes */
.blocText{
    color: #000;
    font-family: 'Josefin Slab', serif;
    width: 456px;
    font-size: 18px;
}

/* blocs pourquoi LVF ? */
.blocTextPourquoi{
    color: #000;
    font-family: Josefin Slab;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    width: 883px; 
}

/* Partie Images */
.img_archive{
    
    height: 335px;
}

.img_equipe{
  height: 335px;
}


/* Icones Nos valeurs*/
.Icons{
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 21%;
    margin-right: 21%;
    margin-top: 6%;
    margin-bottom: 10%;
}

li img{
  width: 45%;  
   }

ul li {
  display:inline-block;
  list-style-type: none;
}

ul{ 
  width: auto;
}

p{ 
  font-family: 'Josefin Slab', serif;  
}

h2{ 
  font-family: 'Josefin Sans', bold;
}


 /*Section - Ils ont parlé de nous*/

  /* bloc médias entier */

  section{
    text-align: center;
    width: 1080;
    
 }

 /* Titre Ils parlent de nous*/

 .medias{
    margin-left: 17%;
    width: 1080;
   
 }

 .medias .talk{
    
    width: 780px;
    font-size: 31px;
    flex-shrink: 0;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 40;
    line-height: normal;
    border-bottom-width: 1px;
    width: 1080;
    margin-left: 20px;
    
 }

 .talk{
    
    text-align: left;
    color: #D3423F;
      font-family: Josefin Sans;
      font-size: 31px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
 }

 .bloc1, .bloc2{
    display: inline-block;
 }

 .talkP{
    font-family: 'Josefin Slab', serif;
    font-size: 14px;
    text-align: left;
    width: 488px;
    padding-bottom: 8px;
    margin-left: 20px;
 }

 .legende .talkP{
    text-align: center;
 }

 /* Images */

 .img_med{
    width: 506px;
    margin: 20px;
 }

 

}

  

  

/* mobile */
@media screen and (max-width: 450px){

    /*Notre entreprise - titre*/
    .titre{
        display: block;  
    }

    h2{
        font-family: 'Josefin Sans', sans-serif;
        width: 331px;
        text-align: center;
        font-size: 35px;
        margin-left: 21px;
        font-size: 35px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: uppercase; 
       }
        
       .imagetitre{
        width: 390px;
        left:0;
       }

       .img_archive{
        width: 341px;
        height: 335px;
        padding-bottom: 4%;
        margin-left: 4%;
        }

         /* class histoire - bloc histoire du velomobile */
        .histoire{
          align-items: center;
          margin-top: 5%;    
      }

      /* class histoire - bloc présentation des équipes */
        .QuiC{
          align-items: center;
          margin-top: 5%;
      }

      /* class histoire - pourquoi LVF ? */
        .why{
        display: flex;
        
        margin-top: 5%;
        
      }

        .text-histoire {
          color: black;
          
      }

        .Hist{
          border-bottom: 1px solid black;
          width: 10.5625rem;
          height: 2.375rem;
          color: #D3423F;
          font-family: Josefin Sans;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal; 
      }

        .Qui{
          border-bottom: 1px solid black;
          width: 10.5625rem;
          height: 2.375rem;
          color: #5286B6;
          font-family: Josefin Sans;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal; 
          margin-top: 5%;
          
      }

        .pourquoi{
          border-bottom: 1px solid black;
          width: 10.5625rem;
          height: 2.375rem;
          color: #D3423F;
          font-family: Josefin Sans;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal; 
          margin-top: 5%;
      }

        /* blocs <p> textes différenciés */
        /* deux premiers paragraphes */
        .blocText{
          color: #000;
          font-family: Josefin Slab;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal; 
          width: 334px; 
        }

      /* blocs pourquoi LVF ? */
        .blocTextPourquoi{
          color: #000;
          font-family: Josefin Slab;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal; 
          width: 334px; 
        }

        /* Partie Images */
        .img_archive{
          margin-top: 8%;
          width: 341px;
        }

        .img_equipe{
          width: 341px;
        }

        /* Icones Nos valeurs*/
  .Icons{
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  
  li img{
    width: 45%;  
     }
  
  ul li {
    display:inline-block;
    list-style-type: none;
  }
  
  ul{ 
    width: auto;
  }
  
  p{ 
    font-family: 'Josefin Slab', serif;  
  }
  
  h2{ 
    font-family: 'Josefin Sans', bold;
  }
  

         /*Section - Ils ont parlé de nous*/

         section{
          text-align: center;
       }
  
       /* Titre Ils parlent de nous*/
  
       .medias .talk{
          font-family: 'Josefin Sans', bold;
          width: 19.625rem;
          height: 1.625rem;
          flex-shrink: 0;
          border-bottom: 1px solid black;
          color: #D3423F;
          font-family: Josefin Sans;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal; 
          width: 602;
          
       }
  
       .talk{
        border-bottom: 1px solid black;
        width: 10.5625rem;
        height: 2.375rem;
        color: #D3423F;
        font-family: Josefin Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
        margin-top: 5%;
        
       }
  
       .talkP{
          font-family: 'Josefin Slab', serif;
          font-size: 14px;
          text-align: left;
          width: 334px;
          padding-bottom: 8px;
          margin-left: 20px;
       }
  
       .legende .talkP{
          text-align: center;
          font-family: 'Josefin Slab', serif;
       }
  
       /* Images */
  
       .img_med{
          width: 334px;
       }

}
   