
   
@media screen and (max-width: 450px) {
    .footer { 
        margin: 0%;
        display: flex;
    }
    

    .all{
        background: #5286B6;
        height: 45.8125rem;
        flex-shrink: 0;
    }
    
    
    .divFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* newsletter */
    .titreNews{
        font-family: 'Josefin Sans', bold;
        padding-top: 15%;
        color: white;
    }

    .texteNexs{
        color: white;
    }

    .envoie {
        width: 8%;
    }

    .formNewsletter{
        margin: 3%;
    }
    
    .button {
        display: flex;
        justify-content: flex-end;
        padding-right: 5%;
    }

    /* contact */

    .titreContact {
        font-family: 'Josefin Sans', bold;
        color: white;
        margin-top: 10%;
    }

    .infosMenu{

    }
    
    ul {
        list-style-type: none;
    }
}
