
   
@media screen and (max-width: 450px) {
    .footer { 
        margin: 0%;
        display: flex;
    }
    

    .all{
        background: #5286B6;
        height: 45.8125rem;
        flex-shrink: 0;
    }
    
    
    .news {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .news h2{
        font-family: 'Josefin Sans', bold;
        padding-top: 15%;
        color: white;
    }

    .news p{
       
        color: white;
    }

}
