
   
@media screen and (max-width: 450px) {
    .footer { 
        margin: 0%;
        display: flex;
    }
    

    .all{
        background: #5286B6;
        height: 45.8125rem;
        flex-shrink: 0;
    }
    
    
    .divFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divFooter h2{
        font-family: 'Josefin Sans', bold;
        padding-top: 15%;
        color: white;
    }

    .divFooter p{
       
        color: white;
    }

    .envoie {
        width: 8%;
    }

    .formNewsletter{
        margin: 3%;
    }
}
