*, *:before, *:after 
{ box-sizing: border-box; }

html { font-size: 18px; }

header {
  color: #e0e4cc;
  font-size: 1.2em;
  line-height: 1.6;
  background: white;
  overflow-x: hidden;
  
}

.logo {
    width: 55px;
}

.navMobile .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #5286B6;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #5286B6, 0 0 0 0 #5286B6;
  cursor: pointer;

  
}

.navMobile .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: red;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.navMobile .hamburger:after, .navMobile .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: blue;
}

.navMobile .hamburger:before { top: -10px; }

.navMobile .hamburger:after { bottom: -10px; }

.navMobile input { display: none; }

.navMobile input:checked + .menu {
  box-shadow: 0 0 0 100vw #5286B6, 0 0 0 100vh #5286B6;
  border-radius: 0;
  
}

.navMobile input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
}

.navMobile input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
  
}

.navMobile input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
  
}

.navMobile input:checked + .menu + ul { opacity: 1; }

.navMobile ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
  list-style: none;


}

.navMobile a {
  margin-bottom: 1em;
  display: block;
  color: white;
  text-decoration: none;
}

a:hover {
  letter-spacing: 0.5px;  
}

.navMobile button{
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  color: #5286B6;

}

/*--------------------------- navDesk ------------------------------------------*/
.navDesk{
    position: absolute;
    top : 0;
    right: 0;
}
.navDesk ul{
    list-style: none;
    padding: 0;
}
.navDesk li{
    display: inline;
    margin-right: 20px;
}
.navDesk a{
    color : black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    font-size: 13px;
}
.navDesk button{
    /* position: relative; */
    background-color: #5286B6;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    color:white;
}

@media screen and (min-width : 800px) {
    .navMobile {
        display: none;
    }
}

@media screen and (max-width : 800px) {
    .navDesk {
        visibility: hidden;
    }
}