body{
    margin: auto;
}

.apropos{
    display: flex;
    /* align-items: center; */
    margin-top: 5%;
    justify-content: space-around;
    flex-direction: row;
}

.texte-apropos {
    display: flex;
    flex-direction: column; 
    /* align-items: center;
    justify-content: center; */
    color: black;
    flex: auto;
    margin-left: 10%;
   
}

.map{
    margin-top: 0;
    width: 500px;
    height: 435px;
    margin-right: 15%;
}
.texte{
    text-align: left;
    width: 370px;
    
    
}

.texte h2{
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(82, 134, 182);
    font-size: 31px;
    margin: 0;
}

.texte hr{
    border-top: 2px solid #000; /* Vous pouvez personnaliser la couleur et l'épaisseur de la ligne ici */
    width: 120%;
    margin-top: 3%;
    margin-bottom: 10%;
}

@media screen and (max-width: 450px) {
    .apropos{
        flex-direction: column;
    }
    .map{
        width: 80%;
        align-self: center;
        margin-left: 15%;
        margin-top: 8%;
        height: 400px;
        margin-bottom: 10%;
    }

    .texte{
        font-size: 15px;
        width: 300px;
    }
    .texte hr{
        width: 100%;
    }
    .texte h2{
        font-size: 25px;
    }
}