.blocP{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.bloc3, .bloc5, .bloc6{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.bloc2, .bloc4, .bloc1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-bloc2, .container-bloc4, .sous-titre{
    display: flex;
}

.velomobile {
    width: 50%;
    padding: 10px;
    border-radius: 50px;
}


.modele{
    display: flex;
    margin: 20px;
}

.text_classique{
    text-align: center;
}

.titre_classique{
    color: red;
    margin-right: 30px;
}

.titre_sport{
    color: blue;
    margin-right: 30px;
}

.bloc5 p{
    text-align: center;
    font-size: medium;
}

.bloc6 p{
    color: #D3423F;
    font-size: large;
}

.boutique{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 100px; */
}

.text_map{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.text_map h4{
    color: #D3423F;
    font-size: large;
    text-align: center;
    margin-top: 100px;
}



.formContainer {
    color: black;
    font-size: medium;
    display: flex;
    justify-content: center;
    margin-top: 700px;
    margin-bottom: 50px;
}

.formContainer h1,p {
    text-align: center;
}

.formContainer button {
    margin-top: 10px;
}