.bloc3, .bloc5, .bloc6{
    display: flex;
    justify-content: center;
}

.bloc2, .bloc4, .bloc1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-bloc2, .container-bloc4, .sous-titre{
    display: flex;
}

.velomobile {
    width: 50%;
    padding: 10px;
}


.modele{
    display: flex;
    margin: 20px;
}

.text_classique{
    text-align: center;
}

.titre_classique{
    color: red;
    margin-right: 30px;
}

.titre_sport{
    color: blue;
    margin-right: 30px;
}

.map{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.map h4{
    color: #D3423F;
    font-size: large;
}

.formContact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer {
    color: black;
    font-size: medium;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.formContainer h1,p {
    text-align: center;
}

.formContainer button {
    margin-top: 10px;
}